/* Body */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url(back.png);
    background-size: cover;
}

/* Header */
header {
    background-color: rgba(255, 255, 255, 0.724);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
#logoname {
    display: flex;
    width: 151px;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

#logoname h1 {
    font-size: 30px;
    font-weight: 700;
    color: #244224;
}

/* NavBar */
#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0px 80px;
    flex-grow: 0.6;
}

#nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: all 0.4s ease;
}

#nav a:hover {
    color: #577d58;
    font-weight: 400;
    transform: scale(1.2);
}

/* Button */
#button {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

#button button {
    color: white;
    background: linear-gradient(to right, #ff7591, #ff5274);
    padding: 7px 15px;
    border-radius: 35px;
    font-size: larger;
    transition: all 0.3s ease;
    border: none;
    box-shadow: 0 8px 8px 0 black;
}

button:hover {
    background: linear-gradient(to right, #ffb8c6, #ff7591);
    transform: scale(1.1);
    color: black;
    border: 1.5px solid black;
}

#menu_ {
    display: none;
}

.hehe img{
    margin-right: 30px;
    transition: all 0.3s ease;
}

.hehe img:hover {
    transform: scale(1.4);
}

.hehe img:active {
    transform: scale(1.1);
}

#sidebar {
    background-color: #D0D0C9;
    height: 602px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: all 0.4s;
    right: -400px;
    overflow: hidden;
}

#sidebar a {
    text-decoration: none;
    font-size: large;
    color: black;
    transition: all 0.3s ease-in;
    background-color: white;
    overflow: hidden;
    width: 270px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#sidebar a:hover {
    transform: scale(1.2);
    color: #ff3295;
    box-shadow: 2px 2px 4px 2px #000000;
}

#sidebar a:active {
    transform: scale(1);
    color: #ff3295;
    box-shadow: 2px 2px 4px 2px #000000;
}

#sidebar p:hover {
    transform: scale(1.2);
    color: #ff3295;
}

#menu_:checked ~ #sidebar {
    right: 0;
}

.close {
    border: 1px solid black;
    background-color: #6b9973;
    color: white;
    padding: 8px 15px;
    font-size: larger;
    border-radius: 20px;
    transition: all 0.4s ease;
    margin-top: 10px;
}

.close:hover {
    transform: scale(1.2);
    background-color: #3a513d;
    color: white;
}

/* home page */
#first {
    width: 100%;
    height: 602px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(bout.png);
    background-size: cover;
}

#fpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: animate;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-duration: 3s;
    margin-top: 100px;
}

@keyframes animate {
    from {
        transform: translateY(100px);
        opacity: 0;}

    to {
        transform: translateY(0px);
        opacity: 1;}
}

#ham h1 {
    color:white;
    text-shadow: 4px 4px 10px #000000;
    font-size: 50px;
    padding-top: 15px;
}

#ham p {
    color: white;
    text-shadow: 4px 4px 10px black;
    padding-top: 10px;
    font-size: larger;
}

#fpage button {
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #ff7591, #ff5274);
    padding: 12px 25px 12px 25px;
    border-radius: 35px;
    font-size: larger;
    transition: all 0.3s ease;
    margin-top: 45px;
    border: none;
    box-shadow: 0 8px 8px 0 black;
}

#fpage button:hover {
    background: linear-gradient(to right, #ffb8c6, #ff7591);
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}

#first {
    width: 100%;
    align-items: center;
}

/*-----Home-----*/
#main {
    width: 100%;
    height: 1800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*-----Types of clothes sections-----*/
.hi, .hello {
    width: 500px;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.hi {
    flex-direction: row;
    transition: all 0.4s ease;
}

.hello{
    flex-direction:row-reverse;
}

/*-----Boxes of description including photos-----*/
#box1, #box2, #box3, #box4 {
    width: 100%;
    max-width: 900px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 40px;
    transition: all 0.4s ease;
    box-shadow: 3px 3px 15px 3px black;
    backdrop-filter: blur(10px);
}

#box1, #box3 {
    margin-left: 40px;
    margin-right: 120px;
}

#box2, #box4 {
    margin-left: 120px;
    margin-right: 40px;
}

#box1 {
    background-color: rgba(240, 190, 255, 0.39);
}

#box2 {
    background-color: rgba(255, 151, 151, 0.349);
}

#box3 {
    background-color: rgba(190, 214, 255, 0.39);
}

#box4 {
    background-color: rgba(255, 250, 190, 0.386);
}

#box1:hover, #box2:hover, #box3:hover, #box4:hover {
    transform: scale(1.05);
}

/*-----Images of description section-----*/
#gown, #crochet, #abaya, #top {
    width: 200px;
    height: 266.7px;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
    box-shadow: 2px 2px 10px 2px #000000;
    transition: all 0.4s ease;
}

#gown {
    background-image: url(gown1.png);
}

#crochet {
    background-image: url(crochet.jpg);
}

#abaya {
    background-image: url(abaya.jpg);
}

#top {
    background-image: url(tops.jpg);
}

#gown:hover, #crochet:hover, #abaya:hover, #top:hover {
    transform: scale(1.1);
}

/*-----description-----*/
.descrip, .des {
    max-width: 300px;
    height: 266.7px;
    padding: 0px 20px;
    display: flex;
    text-align: center;
    align-items: center;
}

/*-----Changes for mobile users-----*/
@media screen and (max-width:600px){
    #nav{
        display: none;
    }
    #button{
        display: none;
    }
    .navbar{
        justify-content: center;
    }
    .menu{
        position: absolute;
        right: 8px;
    }
    .hi, .hello {
        height: 320px;
    }
    #box1, #box2, #box3, #box4 {
        height: 300px;
    }
    .descrip, .des {
        height: 198px;
        font-size: 12.7px;
        width: 200px;
        padding: 0 5px;
    }
    #gown, #crochet, #abaya, #top {
        height: 165px;
        width: 113.75px;
    }
    #box1, #box3 {
    margin-left: 10px;
    margin-right: 40px;
    }
    #box2, #box4 {
    margin-left: 40px;
    margin-right: 10px;
    }
    #main {
        height: 1340px;
    }
    #ham h1 {
        font-size: 30px;
        font-weight: 700;
    }
    #ham p{
        font-size: medium;
        padding: 10px 10px;
    } 
    #fpage button {
        margin-top: 30px;
        font-size: large;
    }
    .hehe img {
        margin-right: 10px;
    }
}